

<h1><%=@producto.Titulo%></h1>
<img src="../assets/imagenes/<%=@producto.Imagen%>"/>
<%=@producto.Descripcion%><br>
<%=@producto.Precio%><br>
<a href="/Ticketing/formularioRegistro">Comprar</a>
<a href="/Ticketing/index">Volver</a>
