<h1><%= @productos.titular %></h1>
			
			<%= @productos.descripcion%><br>
			<%= @productos.precio%><br>
			<a href="/producto/formularioRegistro?id=<%=@productos.id %>">Comprar</a>
			<a href="/producto/index">Volver</a>