
<h1>Todos los Productos</h1>
		
<section>
			<%for producto in @productos %>
			 <ul>
			 	<li><h6><%=producto.titular%></h6> </li>
			 	<li>
					<a href="/producto/show?id=<%= producto.id %>"><%= image_tag producto.imagen.url(:thumb)%></a>
			 	</li>	 	
			 	<li>
			 		<a href="/producto/show?id=<%= producto.id %>">Detalles del producto</a> 
			 	</li>
			 </ul>   		  
    		<%end%>
 </section>  
  		
 <p id="ref_admin"><a href="/admin">Admin</a></p>

