<h1>Todos los Productos</h1>
			<%for producto in @productos %>
			  <img src="<%= producto.imagen %>" />
    		  <a href="/producto/detalle_producto?id=<%= producto.id %>">Detalles del producto</a>
    		  <%=producto.titular%>
    		  
    		  
    		<%end%>
