<div class="container">
    <div class="centered text-center">
        <h3>Enhorabuena por la compra</h3>
			<h4>Estos son los datos de su pedido</h4>
					<p class="alcentro">
				<%= @pedido.nombre %>
			</p>

			<p class="alcentro">
				<%= @pedido.mail %>
			</p>

			<p class="alcentro">
				<%= @pedido.producto.titular%>
			</p>
		
			<p class="alcentro">
				<a href="/">
				<button type="button" class="btn btn-success">
					¡Quiero comprar más!
				</button></a>
			</p>
    </div>
</div>

