<section>
		
			<%for productoEntrada in @listadoProductosCodigo %>
			 <ul>
			 	<li><h6><%=productoEntrada.titular%></h6> </li>
			 	<li>
				 	<a href="/producto/detalles_producto?id=<%= productoEntrada.id %>"><%= image_tag("news_entrada.png", :alt => "entrada") %></a>
			 	</li>	 	
			 	<li>
			 		<a href="/producto/detalles_producto?id=<%= productoEntrada.id %>">Detalles del producto</a> 
			 	</li>
			 </ul>   		  
    		<%end%>
 </section>  
  		
 <p id="ref_admin"><a href="/admin">Admin</a></p>