a.titulocabecera:link{
	text-decoration:none;
	}  

.cabecera{
  background-color: #00BFFF;
  padding:35px;
}

.enlace{
	float:left;
	list-style:none;
}

header form{
	float:right;
}

section ul{
  float:left;
  list-style:none;
  border: 1px solid black;
  border-radius: 2em;
  padding:10px;
}

p{
  clear:both;
}

footer{
  clear:both;
  text-align:center;
}