<html>
	<head>
		<!DOCTYPE HTML>
		<title>Producto</title>
	</head>
	<body bgcolor="#81DAF5">
			<h1><%producto.titulo%></h1>
			<img src="../assets/imagenes/<%producto.imagen%>"/>
			<%producto.descripcion%><br>
			<%producto.precio%><br>
			<a href="direccion enlace formulario">Comprar</a>
			<a href="direccion enlace index">Vovler</a>
	</body>
</html>