<html>
	<head>
		<!DOCTYPE HTML>
		<title><u>Indice</u></title>
	</head>
	<body bgcolor="#81DAF5">
			<h1>Todos los Productos</h1>
			<%for producto_actual in @productos then%>
    		  <a href="direccion enlace producto><img src="<%producto.imagen%>"></a>
    		  <%producto.titular%>
    		<%end%>
	</body>
</html>